body {
    font-family: "Sora", sans-serif;
    background: rgb(20, 69, 82);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#container {
    width: 500px;
    height: 800px;
    background: linear-gradient(180deg, #006466 0%, #1b3a4b 100%);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

#header {   
    width: 450px;
    height: 285px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(16px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2),
        0 20px 40px rgba(0, 0 , 0, 0.35)
        ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input {
    width: 117px;
    height: 83px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(16px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2),
        0 20px 40px rgba(0, 0, 0, 0.35)
        ;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

input:focus {
    outline: none;
}

button {
    width: 170px;
    height: 54px;
    background: linear-gradient(135deg, rgba(33, 47, 69, 0.2), rgba(33, 47, 69, 0.2));
    backdrop-filter: blur(16px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2),
        0 20px 40px rgba(0, 0, 0, 0.35)
        ;
    font-family: "Sora", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

#unit-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.unit {
    width: 450px;
    height: 108px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(16px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2),
        0 20px 40px rgba(0, 0 , 0, 0.35) 
        ;
    text-align: center;
    color: white;
}